* {
  box-sizing: border-box;
  font-family: Raleway;
  line-height: 1.5;
}

@import 'variables/globals';

@import 'components/button';
@import 'components/container';
@import 'components/experience-tile';
@import 'components/flex';
@import 'components/footer';
@import 'components/profile-image';

@import 'utils';
