body {
	margin: 0;
	padding: 0;
}

#background {
	background-color: #61d9b9;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 0;
	position: absolute;
}

#container0 {
	/*position: absolute;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;*/
    height: 100vh;
    margin: auto;
  	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
}

@media all and (max-width: 650px){
#banner {
	text-align: center;
	font-family: Montserrat;
	font-size: 70px;
	color: white;
	z-index: 1;
	position: relative;
	/*left: 0;
	right: 0;
	top: 30%;*/
  	top: 50%;
  	transform: translateY(-50%);
  	margin-top: -180px;
}
}

@media all and (min-width: 651px){
#banner {
	text-align: center;
	font-family: Montserrat;
	font-size: 100px;
	color: white;
	z-index: 1;
	position: relative;
	/*left: 0;
	right: 0;
	top: 30%;*/
  	top: 50%;
  	transform: translateY(-50%);
  	margin-top: -80px;
}
}

@media all and (max-width: 650px){
#description {
	text-align: center;
	font-family: Montserrat;
	font-size: 15.5px;
	color: white;
	z-index: 2;
	position: relative;
	margin-top: -50px;
	top: 50%;
  	transform: translateY(-50%);
}
}

@media all and (min-width: 651px){
#description {
	text-align: center;
	font-family: Montserrat;
	font-size: 22px;
	color: white;
	z-index: 2;
	position: relative;
	margin-top: -70px;
	top: 50%;
  	transform: translateY(-50%);
}
}

@media all and (min-width: 651px){
#container {
	position: absolute;
	top: 50%;
	width: 452px;
	height: 100px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
}

@media all and (max-width: 650px){
#container {
	position: absolute;
	top: 50%;
	width: 304px;
	height: 284px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: -110px;
}
}

@media all and (max-width: 650px){
#box1 {
	position: relative;
    z-index: 3;
    padding: 0px;
    background-color: #2da685;
    height: 140px;
    width: 150px;
	float: left;
	margin-right: 4px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin-bottom: 4px;
}
}

@media all and (min-width: 651px){
#box1 {
	position: relative;
    padding: 0px;
    background-color: #2da685;
    height: 100px;
    width: 110px;
	float: left;
	margin-right: 4px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
}

@media all and (min-width: 651px){
#box1:hover{
	background-color: #ff658f;
	color: #61d9b9;
	height: 120px;
}
}

@media all and (max-width: 650px){
#box1:hover{
	background-color: #ff658f;
	color: #61d9b9;
}
}

@media all and (min-width: 651px){
#box2:hover{
	background-color: #ffd718;
	color: #61d9b9;
	height: 120px;
}
}

@media all and (max-width: 650px){
#box2:hover{
	background-color: #ffd718;
	color: #61d9b9;
}
}

@media all and (max-width: 650px){
#box3:hover{
	background-color: #0035b3;
	color: #61d9b9;
}
}

@media all and (min-width: 651px){
#box3:hover{
	background-color: #0035b3;
	color: #61d9b9;
	height: 120px;
}
}

@media all and (min-width: 651px){
#box4:hover{
	background-color: #b421ff;
	color: #61d9b9;
	height: 120px;
}
}

@media all and (max-width: 650px){
#box4:hover{
	background-color: #b421ff;
	color: #61d9b9;
}
}

@media all and (max-width: 650px){
#code {
	height: 110px;
	width: auto;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: 5;
}
}

@media all and (min-width: 651px){
#code {
	height: 82px;
	width: auto;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 8px;
  	transform: translateX(-50%);
    z-index: 5;
}
}

@media all and (min-width: 651px){
#box2 {
	position: relative;
    z-index: 3;
    padding: 0px;
    background-color: #2da685;
    height: 100px;
    width: 110px;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
}

@media all and (max-width: 650px){
#box2 {
	position: relative;
    z-index: 3;
    padding: 0px;
    background-color: #2da685;
    height: 140px;
    width: 150px;
	float: left;
	margin-right: 0px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
}

@media all and (min-width: 651px){
#box3 {
 	position: relative;
    z-index: 3;
    padding: 0px;
    background-color: #2da685;
    height: 100px;
    width: 110px;
	float: left;
	margin-right: 4px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
}

@media all and (max-width: 650px){
#box3 {
 	position: relative;
    z-index: 3;
    padding: 0px;
    background-color: #2da685;
    height: 140px;
    width: 150px;
	margin-right: 4px;
	float: left;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
}

@media all and (max-width: 650px){
#box4 {
	position: relative;
    z-index: 3;
    padding: 0px;
    background-color: #2da685;
    height: 140px;
    width: 150px;
	float: left;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
}

@media all and (min-width: 651px){
#box4 {
	position: relative;
    z-index: 3;
    padding: 0px;
    background-color: #2da685;
    height: 100px;
    width: 110px;
	float: left;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
}

/*#container2 {
	position: absolute;
	top: 68%;
	width: 452px;
	height: 100px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 5;
}*/

#text1 {
	opacity: 0;
    transition: .4s;
	color: white;
	font-weight: 50;
	margin-top: 96px;
	text-align: center;
	font-family: Montserrat;
	position: relative;
	font-size: 10px;
	letter-spacing: 2px;
	height: 100px;
    width: 110px;
    float: left;
    margin-right: 4px;
}

#text2 {
	opacity: 0;
    transition: .4s;
	color: white;
	font-weight: 50;
	margin-top: 96px;
	text-align: center;
	font-family: Montserrat;
	position: relative;
	font-size: 10px;
	letter-spacing: 2px;
	height: 100px;
    width: 110px;
    float: left;
    margin-right: 4px;
}

#text3 {
	opacity: 0;
    transition: .4s;
	color: white;
	font-weight: 50;
	margin-top: 96px;
	text-align: center;
	font-family: Montserrat;
	position: relative;
	font-size: 10px;
	letter-spacing: 2px;
	height: 100px;
    width: 110px;
    float: left;
    margin-right: 4px;
}

#text4 {
	opacity: 0;
    transition: .4s;
	color: white;
	font-weight: 50;
	margin-top: 96px;
	text-align: center;
	font-family: Montserrat;
	position: relative;
	font-size: 10px;
	letter-spacing: 2px;
	height: 100px;
    width: 110px;
    float: left;
}

#box1:hover #text1{
	opacity: 1;
}

#box2:hover #text2{
	opacity: 1;
}

#box3:hover #text3{
	opacity: 1;
}

#box4:hover #text4{
	opacity: 1;
}

#box1:active{
    background: white;
    -webkit-transition: none;
	transition: none;
}