
#bground {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;	
	background: url("landscape.jpg");
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: 0px -80px;	
}

.bubble {
	width: 600px;
	height: 15px;
	z-index: 11;
	font-size: 13px;
	font-family: Orator Std;
	letter-spacing: 1px;
	font-weight: 400;
	position: absolute;
	top: 30%;
	left: 50%;
	cursor: pointer;
	cursor: hand;
	color: black;
}

#waypoint {
	position: static;
	margin-top: 00px;
}

#waypoint2 {
	position: static;
	margin-top: 600px;
}



#bubble-container {
	z-index: 10;
	width: 100%;
	height: 55px;
	position: absolute;
	top: 0%;
	left: 0%;
}

#bubble-container.scrolled {
	position: fixed;
	background-color: #e4e4e4;
	top: 0%;
	z-index: 100;
}

.contain {
	width: 100px;
	height: 47px;
	position: absolute;
}

#logo-container {	
	left: 0%;
	width: 38px;
	height: 38px;
}

#logo-container.clicked {
	border-bottom: 3px #455357 solid;
	opacity: 1;
}

#photo-container {	
	left: 67.5%;
	width: 110px;
	height: 38px;
}

#photo-container.clicked {
	border-bottom: 1px #455357 solid;
	opacity: 1;
}

#design-container {
	left: 79%;
	width: 70px;
	height: 38px;
}

#design-container.clicked {
	border-bottom: 1px #455357 solid;
	opacity: 1;
}

#about-container {
	left: 87%;
	width: 45px;
	height: 38px;
}

#about-container.clicked {
	border-bottom: 1px #455357 solid;
	opacity: 1;
}

#contact-container {
	left: 93%;
	width: 60px;
	height: 38px;
}

#contact-container.clicked {
	border-bottom: 1px #455357 solid;
	opacity: 1;
}

#logo {
	top: 20%;
	margin-left: 0px;	
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 9px;
}

#photo {
	top: 55%;
	margin-left: -58px;	
}

#design {
	top: 55%;
	margin-left: -36px;	
}

#about {
	top: 55%;
	margin-left: -20px;	
}

#contact {
	top: 55%;
	margin-left: -30px;	
}

.text {
	z-index: 10;
	font-family: Raleway;
	font-size: 40px;
	font-weight: 400;
	position: absolute;
	width: 100%;
	height: 100%;
	letter-spacing: 0.5px;
}

#modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
}
#modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 500;
}

#modal-box {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0; right: 0;
    top: 8%;
    height: 600px;
    width: 570px;
    z-index: 501;
    border-radius: 2%;
    background-color: #dee3e5;
}

#modal-content {
    position: absolute;
    height: 540px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 5%;
    border-radius: 2%;
    background-color: #f4f6f6;
}

#head {
	font-family: PT Sans;
    font-size: 30px;
    position: absolute;
    left: 55%;
	margin-left: -110px;
}

#title {
	font-family: PT Sans;
	font-size: 20px;
	position: absolute;
	top: 10%;
	left: 3%;
}

#titlei {
	position: absolute;
	top: 15%;
	left: 3%;

}

#email {
	font-family: PT Sans;
	font-size: 20px;
	position: absolute;
	top: 22%;
	left: 3%;

}

#emaili {
	position: absolute;
	top: 27%;
	left: 3%;

}

#message {
	font-family: PT Sans;
	font-size: 20px;
	position: absolute;
	top: 34%;
	left: 3%;

}

#messagei{
	position: absolute;
	top: 39.5%;
	width: 94%;
	height: 250px;
	left: 3%;

}

input {
	border-style: inset;
    border-width: 2px;
}

textarea {
    border-style: inset;
    border-width: 1px;
}


textarea.wp-editor-area {
	width: 99.5%;
}

#submit-contain {
	width: 70px;
	height: 30px;
	position: absolute;
	background-color: #ecebe8;
	bottom: 5%;
	left: 68%;
	cursor: hand;
	border: 1px #5f9c86 solid;
	border-radius: 5%;
}

#submit {
	font-family: PT Sans;
	font-size: 15px;
	position: absolute;
	left: 19%;
	top: 20%;
	color: black;
	font-weight: bold;
}

#cancel-contain {
	width: 70px;
	height: 30px;
	position: absolute;
	bottom: 5%;
	left: 85%;
	cursor: hand;
}

#cancel {
	font-family: PT Sans;
	font-size: 15px;
	position: absolute;
	left: 19%;
	top: 20%;
	color: black;
	text-decoration: underline;
}

#page15 {
	width: 100%;
	height: 600px;
	background-color: white;
	position: absolute;
	top: 100%;
	left:0%;
}

#mission {
	position: absolute;
	font-size: 42px;
	font-family: PT Sans;
	left: 50%;
	margin-left: -170px;
	top: 23%;
	letter-spacing: 0px;
}

#subcontain2 {
	position: absolute;
	width: 100%;
	height: 391px;
	left: 9%;
	top: 10.2%;
	margin-left: -84px;
	z-index: 2;
}

#large {
	height:100%;
}

#subcontain {
	position: absolute;
	width: 100%;
	height: 150px;
	left: 8.7%;
	top: 10.2%;
	margin-left: 510px;
	z-index: 2;
}

#submission {
	position: absolute;
	font-size: 18px;
	font-family: PT Sans;
	line-height: 42px;
	text-indent: 55px;
	font-weight: 500;
	letter-spacing: 0.7px;
	z-index: 2;
}

#pa8 {
	margin-bottom:0px; 
	margin-left:0px;
}

#page2 {
	position: absolute;
	top: 170%;
	left:0%;
	width: 100%;
	height: 200%;
	background: url('meadow.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
}

#scontain {
	width: 700px;
	height: 500px;
	top: 190%;
	left: 50%;
	margin-left: -350px;
	background-color: whitesmoke;
	position: absolute;
	opacity: 0.87;
}

#skills-top {
	font-family: PT Sans;
	font-size: 50px;
	position: absolute;
	top: 5%;
	left: 35%;
	letter-spacing: 0.5px;
	text-shadow: 0.5px 0.5px 0.5px gray;
}

#graph {
	width: 700px;
	height: 350px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -350px;
}

#labely {
	font-family: PT Sans;
	font-size: 30px;
	border-right: 2px black solid;
	width: 220px;
	height: 100%;
	position: absolute;
	letter-spacing: 1px;
}

#python {
	top: 5%;
	position: absolute;
	right: 10%;
}

#java {
	top: 25%;
	position: absolute;
	right: 10%;
}

#C {
	top: 45%;
	position: absolute;
	right: 10%;
}

#html {
	top: 65%;
	font-size: 29px;
	position: absolute;
	right: 10%;
}

#javascript {
	top: 85%;
	position: absolute;
	right: 10%;
}

#bars {
	position: absolute;
	width: 480px;
	height: 100%;
	margin-left: 230px;	
}

#pythonb {
	width: 300px;
	height: 60px;
	top: 2%;
	position: absolute;
	background-color: #d2b100;
}

#javab {
	width: 450px;
	height: 60px;
	top: 22%;
	position: absolute;
	background-color: #006;
}

#cb {
	width: 100px;
	height: 60px;
	top: 42%;
	position: absolute;
	background-color: #d24800;
}

#htmlb {
	width: 200px;
	height: 60px;
	top: 62%;
	position: absolute;
	background-color: #b3d1c6;

}

#javascriptb {
	width: 200px;
	height: 60px;
	top: 82%;
	position: absolute;
	background-color: #e60013;
}

#page25 {
	position: absolute;
	top: 270%;
	width: 100%;
	left:0%;
	height: 500px;
	background-color: whitesmoke;
	font-size: 20px;

}

#cwrit {
	position: absolute;
	width: 62%;
	height: 20%;
	top: 30%;
	left: 50%;
	margin-left: -309px;
	font-family: PT Sans;
}

.here {
	text-decoration: underline;
	color: black;
}

a:link    {color:#000;}  
a:visited {color:#000;}  
a:hover   {color:#000;}  
a:active  {color:#000;} 

#page3 {
	position: absolute;
	top: 320%;
	width: 100%;
	height: 120%;
	left:0%;
	background: url("wheat1.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

#musings-top {
	font-family: PT Sans;
	font-size: 50px;
	position: absolute;
	top: 10%;
	left: 28%;
	text-shadow: 1px 1px 1px gray;
}

/*#timeline {
	position: absolute;
	left: 4%;
	top: 18%;
	width: 200px;
	height: 82%;
	/*border: 1px black solid;
}

.circle {
	border-radius: 50%;
	height: 25px;
	width: 25px;
	background-color: black;
	margin-left: -14px;
	position: absolute;
	cursor: hand;
}

#circle-container {
	height: 100%;
	width: 20px;
}

#c1 {
	top: 0%;
	cursor: hand;
}

#c2 {
	top: 25%;
}

#c3 {
	top: 50%;
}

#c4 {
	top: 75%;
}

#c5 {
	top: 100%;
}

#spine {
	width: 14px;
	height: 80%;
	left: 50%;
	top: 7%;
	position: absolute;
	margin-left: -4px;
	border-left: 3px solid black;
}

.popup {
	width: 180px;
	height: 120px;
	position: absolute;
	border: 2px black solid;
	border-radius: 5%;
	left: 8%;
	background-color: #f7f7f7;
	display: none;

}

#p1 {
	top: 11%;
	font-family: PT Sans;
}

#p2 {
	top: 29%;
}

#p3 {
	top: 47%;
}

#p4 {
	top: 65%;
}

#p5 {
	top: 83%;
}

.element {
	text-decoration: underline;
	left: 5%;
	position: absolute;
}

#p1list {
	position: absolute;
	top: 5%;
	width: 98%;
	height: 100%;
	left: 2%;
}
#first {
	position: absolute;
	top: 20%;
	cursor: hand;
}

#second {
	top: 50%;
	cursor: hand;
}
*/

#menu {
	width: 15%;
	position: absolute;
	top: 22%;
	left: 5%;
	height: 70%;
	opacity: 0.7;
}

#menu-icon {
	position: absolute;
	width: 40px;
	top: 2%;
	left: 5%;
	cursor: hand;
}

#menub {
	position: absolute;
	top: 2%;
	left: 35%;
	font-family: PT Sans;
}

#dropdownc {
	display: none;
}

#idrop {
	display: none;
}

.dtc {
	position: absolute;
	top: 5%;
	left: 30%;
	width: 100px;
	height: 300px;
	font-family: PT Sans;
	cursor: hand;
}

.ti{
	font-family: PT Sans;
	cursor: hand;
	width: 100%;
	height: 5%;
	left: 0%;
}

#c1 {
	position: absolute;
	top: 10%;
}

#c2 {
	position: absolute;
	top: 35%;
}

.a {
	position: absolute;
	left: 10%;
	cursor: hand;
}

#i1a {
	top: 10%;
}

#i1b {
	top: 25%;
	
}
#post {
	width: 600px;
	height: 540px;
	position: absolute;
	top: 22%;
	left: 27%;
	border: 2px gray solid;
	border-radius: 2%;
	background-color: #f7f7f7;
	opacity: 0.9;
}

#post-title {
	font-family: PT Sans;
	font-size: 35px;
	font-weight: 400;
	position: absolute;
	left: 50%;
	margin-left: -145px;
	top: 3%;
	letter-spacing: 0.3px;
}

#peoplepic {
	height: 100%;
	width: 100%;
}

#pic-contain {
	position: absolute;
	top: 12%;
	left: 4%;
	width: 550px;
	height: 330px;
}

#description {
	font-family: PT Sans;
	font-size: 17px;
	font-weight: 100;
	position: absolute;
	top: 77%;
	height: 150px;
	width: 550px;
	left: 50%;
	margin-left: -275px;
	line-height: 25px;
}

#page35{
	top: 440%;
	width: 100%;
	left: 0%;
	position: absolute;
	border-bottom: 1px gray solid;
}

#contactinfo{
	font-family: Orator Std;
	font-size: 13px;
	position: absolute;
	background-color: #f7f7f7;
	width: 100%;
	height: 30px;
	left: 0%;
	top: 15%;
}

#contactbox {
	position: absolute;
	left: 12%;
	width: 88%;
	height: 40px;
}

#contacttitle {
	top: 25%;
	font-size: 13px;
	position: absolute;
}

#info{
	position: absolute;
	top: 25%;
	width: 100%;
}

#name1c {
	margin-left: 100px;
	position: static;
	padding-right: 10px;
}

.c{
	border-right: 1px black solid;
	position: absolute;
}


#addressc {
	position: static;
	padding-left: 10px;
	padding-right: 10px;
}

#phonec {
	padding-left: 10px;
	padding-right: 10px;
	position: static;
}


#email1c {
	padding-left: 10px;
	position: static;
	border-right: none;

}
