*{
	padding: 0;
	margin: 0;
}

body{
	background: #464646;
	/*z-index: -2;*/
	font-family: Lato;
	font-weight: 300;
}

#section-1{
	height:100%;
}

#section-2{
	height:100%;
}

#background{
	background: url("../images/cityscape-compressor.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	/*z-index: 0;*/
	/*display: none;*/
}

#background2{
	width: 100%;
	height: 100%;
	position: absolute;
	/*z-index: 0;*/
}


.menu-position{
	right: 17px;
	top: 20px;
	z-index: 1000;
	position: fixed;
}

#menu_icon{
	color: white;
	transition: all .5s;
}

#menu:hover #menu_icon{
	color: black;
	cursor: pointer;
}

.fade {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.4);
	animation: fadein 0.3s;
	-moz-animation: fadein 0.3s;
	-webkit-animation: fadein 0.3s;
	-o-animation: fadein 0.3s; 
}

.fade-pushed {
	margin-left: 300px;
}

.container {
	font-size: 0.9em;
	display: block;
	width: 100%;
	height: 100%;
	-moz-transition: -moz-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.container-pushed {
	-moz-transform: translate3d(300px, 0, 0);
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.block-link{
	display: block;
	padding: 17px 30px;
}

.icon-styling{
	color: #999;
	font-size: 1.2em !important;
	transition: all 0.3s;
	margin-right: 15px;
}

.menu li:hover .icon-styling{
	color: white;
}

.menu {
	color: #4e5959;
	list-style: none;
	display: block;
}

.menu li {
	/*padding: 15px 30px 15px 30px;*/
	background: inherit;
	/*border-top: 1px solid #d5d3c8;*/
	border-top: 1px solid #ccc;
	-webkit-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-ms-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	-transition: background 0.3s linear;
}

.menu:last-child {
	/*border-bottom: 1px solid #ddd;*/
	border-bottom: 1px solid #ccc;
}

.menu li:hover {
	/*background: #d5d3c8;*/
	background: #ccc;
}

.menu a {
	/*margin-left: 15px;*/
	font-size: 0.8em;
	letter-spacing: 3px;
	text-transform: uppercase;
	/*color: #3e5d75;*/
	color: #000;
	text-decoration: none;
}

.menu-hidden {
	display: none;
}

.menu-icon {
	color: #555;
	float: right;
	border: 0px;
	font-size: 0.9em;
	letter-spacing: 4px;
	background: transparent;
}

.menu-icon:focus {
	outline: none;
}

.sidebar {
	z-index: 1002;
	position: fixed;
	margin-left: -300px;
	width: 300px;
	/*background: #ebeae3;*/
	background: #ddd;
	/*background: rgba(255, 255, 255, 0.75);*/
	height: 100%;
	-moz-transition: -moz-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.sidebar-open {
	-moz-transform: translate3d(300px, 0, 0);
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

#title_container{
	top: 38%;
	position: relative;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

#name{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 50px;
	transition: all .5s;
}

#description{
	font-family: Roboto;
	font-weight: 300;
	font-size: 12px;
	/*letter-spacing: 2.85px;*/
	letter-spacing: 2px;
	margin-top: -10px;
	transition: all .5s;
}

.delay-25s{
	-webkit-animation-delay: .25s;
}

#down {
	position: relative;
	text-align: center;
	height: 100%;
}

#down_icon {
	position: absolute;
	bottom: 40px;
	color: white;
	transition: all .5s;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

#down_icon:hover{
	color: black;
	cursor: pointer;
} 

#about_title_container{
	padding-top: 6%;
	/*position: relative;*/
	color: white;
	text-align: center;
	text-transform: uppercase;
}

#about_title{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 50px;
	transition: all .5s;
}

#about_description{
	font-family: Roboto;
	font-weight: 300;
	font-size: 12px;
	/*letter-spacing: 2.85px;*/
	letter-spacing: 3.5px;
	margin-top: -10px;
	transition: all .5s;
}

#graphics{
	position: relative;
	top: 15%;
	transform: translateY(-15%);
	/*width: 448px;*/
	width: 213px;
	height: 350px;
	margin: 0 auto;
	transition: all .5s;
	/*position: relative;*/

}

#me{
	/*margin-top: 70px;*/
	height: 350px;
	width: auto;
	transition: all .5s;
}

#me-container{
	height:350px;
	width: 213px;
	float: left;
}

.hidden{
	visibility: hidden;
}

.fadeIn, .fadeInUp, .fadeInDown, .bounceInUp, .bounceIn{
	visibility: visible;
}

.bubble{
	/*position: relative;*/
	width: 175px;
	/*height: 255px;*/
	height: 220px;
	padding: 15px;
	background: #FFFFFF;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	float:left;
	position: relative;
	margin-left: 40px;
	margin-top:40px;
	display: none;
}

.bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 13px 22px 13px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -13px;
	left: -22px;
	top: 31%;
}

.icons{
	color: #ccc;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}

.icons:hover{
	color: black;
}